<ion-item>
  <ion-input [(ngModel)]="TareaIngresada" placeholder="Añadir tarea" (keydown)="onKeydown($event)"></ion-input>
  <ion-button (click)="agregarTarea()">Agregar</ion-button>
</ion-item>
<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let tarea of ListaTotal">
      <div class="tarea-texto">
        {{ tarea.nombre }}
      </div>
      <div class="button-container">
        <ion-button (click)="borrarTarea(tarea)">Borrar</ion-button>
        <ion-button (click)="marcarComoCompletada(tarea)">
          {{ tarea.completada ? 'Sin completar' : 'Completada!' }}
        </ion-button>
      </div>
    </ion-item>
    
  </ion-list>
</ion-content>

